html {
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 62.5%;
  background: var(--white);
}

body {
  font-size: 1.5rem;
}

.mainPopup {
  padding: 10px;
  height: 350px;
  width: 250px;
  font-family: Arial, Helvetica, Ubuntu, sans-serif;
  --neutral: rgb(83, 122, 145);
  --positive: rgb(211, 137, 41);
  --negative: rgb(19, 136, 187);
  --black: rgb(0, 0, 0);
  --white: #e6e6e6;
  --bs: 0 3px 7px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  margin: 12px 25px;
  color: var(--black);
}

p {
  margin: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
}

.charts {
  margin: 40px 0;
  position: relative;
}

.pie-chart {
  height: 150px;
  width: 150px;
  margin: -35 auto 0 auto;

  position: relative;
  background: conic-gradient(var(--negative), var(--neutral), var(--positive));
  transform: rotate(0deg);
  border-radius: 100%;
  box-shadow: var(--bs);
}

.inner {
  height: 75px;
  width: 75px;
  margin: 37.5px 37.5px;
  border-radius: 100%;
  background: var(--white);
  position: absolute;
  box-shadow: inset var(--bs);
}

.percent {
  font-size: 2rem;
  width: 100px;
  font-weight: bold;
}

.negative {
  color: var(--negative);
  text-align: right;
  position: absolute;
  right: 10px;
  margin-top: -30px;
}

.positive {
  color: var(--positive);
  text-align: left;
}

.rating {
  margin: 0px auto;
}

#delete {
  padding: 4px 10px;
  border: none;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: grey;
  color: white;
  box-shadow: var(--bs);
}

#delete:hover {
  text-decoration: underline;
  cursor: pointer;
}

#delete:focus {
  outline: none;
  text-decoration: underline;
}
