/**
 * Place your custom CSS styles here.
 **/
.my-popup {
  height: 80px;
  width: 80px;
  background-color: lightseagreen;
  /* border: 1px solid lightgray ; */
  border-radius: 5px;
  box-shadow: 5px 10px;
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 99;
  /* background-color: green; */
}
.my-popup:hover {
  height: 200px;
}
/* li {
  height: 10px;
} */
.positive {
  display: block;
  background-color: lightskyblue;
  border-radius: 5px;
  height: 15px;
}
.positive:hover {
  height: 30px;
}
.negative {
  display: block;
  background-color: lightsalmon;
}

